[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
spacy = "*"
streamlit = "*"
matplotlib = "*"
numpy = "*"
wave = "*"
gtts = "*"
googletrans = "*"
speechrecognition = "*"
nltk = "*"
spacy-streamlit = "*"
click = "*"
exit = "*"

[dev-packages]

[requires]
python_version = "3.9"
